<div class="container-fluid overlay">
<% (1...31).to_a.shuffle.each do |i|%>

<div class="col-md-2 col-xs-4 registration ">
  <%= image_tag("/r#{i}.jpg", class: "img-responsive")%>
</div>
<% end %>
</div>
<div class="col-md-12 col-xs-12 mainn labe ">
<div class="innerdiv col-md-2 col-md-offset-5 col-xs-10 col-xs-offset-1">
<h1><%= image_tag("/logo.png", size: "150") %></h1>
<h1> FOREVER </h1>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username, class:"labe" %><br />
    <%= f.text_field :name, autofocus: true, class: "transparent-input" %>
  </div>
  <div class="field">
    <%= f.label :Profile_Picture, class:"labe" %><br>
    <%= f.file_field :avatar %>
  </div>  
  <div class="field ">
    <%= f.label :status, class:"labe" %><br />
    <%= f.text_field :status, autofocus: true, class: "transparent-input" %>
  </div> 
  <div class="field ">
    <%= f.label :Date_of_birth, class:"labe" %><br />
    <%= f.text_field :dob, autofocus: true, class: "transparent-input" %>
  </div>    
  <div class="field ">
    <%= f.label :occupation, class:"labe" %><br />
    <%= f.text_field :occupation, autofocus: true, class: "transparent-input" %>
  </div> 
  <div class="field">
    <%= f.label :email, class:"labe" %><br />
    <%= f.email_field :email, autofocus: true, class: "transparent-input" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, class:"labe" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "transparent-input" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class:"labe" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "transparent-input" %>
  </div>

  <div class="field">
    <%= f.label :current_password, class:"labe" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "transparent-input" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class:"labe", class: "transparent-input" %>
  </div>
<% end %>

<!-- <h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %> -->
</div>
</div>