<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
    <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>Pawan Kalyan</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Animated Responsive Image Grid - Cycling through a set of images in a responsive grid." />
        <meta name="keywords" content="grid, images, thumbnails, responsive, css3, jquery, javascript, random, transition, 3d, perspective" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
<!--         <link rel="stylesheet" type="text/css" href="/demo.css" />
 -->    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <script type="text/javascript" src="/assets/modernizr.custom.26633.js"></script>
    <noscript>
      <link rel="stylesheet" type="text/css" href="/assets/fallback.css" />
    </noscript>
    <style>
           body, body * {
              margin: 0;
              padding: 0;
           }
           *, *::after, *::before {
             box-sizing: border-box;
           }
           ul li {
             width: 169px;
             height: 168px;
           }
           .ri-grid {
               z-index: -1;
               position: absolute;
           }
    </style>
    <!--[if lt IE 9]>
      <link rel="stylesheet" type="text/css" href="/fallback.css" />
    <![endif]-->
    </head>
    <body>
    <div class="container">


        <div id="ri-grid" class="overlay ri-grid ri-grid-size-3" data-animation="random" data-interval="600" data-max-step="3">
          <ul>
            <li><a href="#"><%= image_tag("/1.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/2.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/3.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/4.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/5.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/6.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/7.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/8.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/9.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/10.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/11.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/12.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/13.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/14.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/15.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/16.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/17.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/18.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/19.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/20.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/21.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/22.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/23.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/24.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/25.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/26.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/27.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/28.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/29.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/30.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/31.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/32.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/33.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/34.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/35.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/36.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/37.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/38.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/39.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/40.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/41.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/42.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/43.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/44.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/45.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/46.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/47.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/48.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/49.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/50.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/51.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/52.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/53.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/54.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/55.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/56.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/57.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/58.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/59.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/60.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/61.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/62.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/63.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/64.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/65.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/66.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/67.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/68.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/69.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/70.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/71.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/72.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/73.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/74.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/75.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/76.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/77.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/78.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/79.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/80.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/81.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/82.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/83.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/84.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/85.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/86.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/87.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/88.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/89.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/90.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/91.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/92.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/93.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/94.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/95.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/96.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/97.jpg", class: "img-responsive")%></a></li>
            <li><a href="#"><%= image_tag("/98.jpg", class: "img-responsive")%></a></li>
          </ul>
        </div>        
        </div>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/jquery.gridrotator.js"></script>
    <script type="text/javascript">  
      $(function() {
      
        $( '#ri-grid' ).gridrotator( {
          rows : 4,
          columns : 8,
          maxStep : 2,
          interval : 2000,
          w1024 : {
            rows : 5,
            columns : 6
          },
          w768 : {
            rows : 5,
            columns : 5
          },
          w480 : {
            rows : 6,
            columns : 4
          },
          w320 : {
            rows : 7,
            columns : 4
          },
          w240 : {
            rows : 7,
            columns : 3
          },
        } );
      
      });
    </script>
    </body>
</html>