<%= form_for @post, html: { multipart: true} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="resizable" class="col-md-10 form-group emoji-picker">
    <%= f.label :post, class: "control-label user-writing" %><br />
    <%= f.text_field :body, class: "user-writing textarea", data: { emojiable: true }%>
  </div>
  <div class="col-md-10 col-xs-10 glyphicon glyphicon-camera fileinput-button">
    <%= f.file_field :avatar %>
  </div>
  <div class="col-md-10 form-group">
    <h3>Photographs</h3>
    <%= f.fields_for :photographs do |photograph| %>
      <%= render 'photograph_fields', f: photograph %>
    <% end %>     
    <%= link_to_add_association 'add photograph', f, :photographs %>
  </div>
  <br />  
  <div class="col-md-10 col-xs-10">
    <%= f.submit :POST, class: "btn btn-raised btn-info" %>
  </div>
<% end %>
