<div class="container index">
  <% @posts.each do |post| %>
    <span id="post_<%= post.id %>">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm clearfix post">
              <div class="post-head">
                <h3>
                  <% if post.user.avatar.present? %>
                    <%= image_tag(post.user.avatar.url(:medium), size:"50x50", class: "img-circle")%>
                  <% end -%>
                  <span class="user-name">
                    <%= link_to user_posts_post_path(id: post.user_id) do %> 
                      <%= post.user.name %>
                    <% end %>
                  </span>
                  <span class="pull-right">
                    <%= render partial: "time", locals: {item: post} %>
                  </span>
                </h3><br />
                <div class="_content">
                  <% if post.body.present? %>
                    <h4 class="post-text"><%= content_with_emoji(post.body) %></h4>
                  <% end -%>
                </div>
              </div>
              <% if post.avatar.present? %>
                <%= image_tag(post.avatar, class: "img-responsive center") %>
              <% end -%>
<!--               <% if post.photographs.present? %>
                <% post.photographs.each do |photograph| %>
                  <div class="col-md-6">
                    <%= image_tag(photograph.chitram, class: "img-responsive center") %>
                  </div>
                <% end %>  
              <% end %> -->
              <% if user_signed_in? %>
                <div class="post-action">
                  <div class="row">
                    <span class="votes">
                      <% if  current_user.voted_up_on? post %>                         
                        <%= link_to dislike_post_path(post), method: :get, remote: true, class: "dislike_post" do %>
                          <i class="material-icons love">favorite</i>
                        <% end %>
                        <%= render partial: "upvotes", locals: {item: post} %>
                      <% else %>
                        <%= link_to like_post_path(post), method: :get , remote: true, class: "like_post" do%>
                          <i class="material-icons love">favorite_border</i>
                        <% end %>
                        <%= render partial: "upvotes", locals: {item: post} %>
                      <% end %>
                    </span>
                    <span id="comment-count"> 
                      <%= render partial: "comments/comment_count", locals: {post: post} %>       
                    </span>
                    <% if post.user == current_user %>
                      <ul style="list-style-type:none" class="pull-right"> 
                        <li class="dropdown">
                          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons more_horiz">more_horiz</i>
                          </a>
                          <h6 class="dropdown-menu dropdown-menu-right">                         
                            <li><%= link_to 'Edit', edit_post_path(post) %></li>
                            <li><%= link_to 'Delete', post, method: :delete, remote: true, class: "delete_post", data: { confirm: 'Are you sure?' } %></li>
                          </h6>
                        </li>
                      </ul>
                    <% end -%>
                  </div>
                  <div id="comment-section" class="collapse"> 
                    <%= render partial: "comments/comments", locals: {post: post} %>  
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </span>
  <% end %>
  <div class="col-md-4 col-md-offset-4">
    <%= will_paginate @posts,renderer: BootstrapPagination::Rails, previous_label: "Newer", next_label: "Older", inner_window: 1, outer_window: 0 %>
  </div>  
</div>   
<br />
